/* general rules */
*{
    font-family: Arial, sans-serif;
}
.primary_btn_color{
    background-color:#363636;
}
.secondary_btn_color{
    background-color: #cd3d0f;
}
.tertiary_btn_color{
 background-color: #2d64e6;
}
.standard_btn{
    padding: 5px 10px;
    font-weight: 500;    
    color: white;
    border: 0;
}
.primary_text_color{
    color: black;
}
.secondary_text_color{
    color: white;
}
h6{
    font-size: 13px;
    font-weight: 600;
    color: #2284d4;
}
/* /general rules */
/* header section */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
/* header top section */
.header_top{
    background-color: black; 
    height: 40px;   

}
.header_top .container-fluid .row img{
    width: 100px;
    padding: 10px 0;
    object-fit: contain;
}
.primary_btn_formatting{
    margin: 0px 15px;
}
/* /header top section */
/* header bottom section */
nav{
    height: 60px;
}
.nav_formatting{
    padding: 0px 10px;
}
nav form a i{
    font-size: 18px;
}
/* /header bottom section */
/* /header section */

/* main section  */
main{
margin-top: 100px;
}
/* hero sec */
/* top hero sec */
.hero_sec_top{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position:top center;
}
.hero_container{
    padding:300px 0 50px;
}
.hero_container img{
    width: 200px;
    padding: 10px 0;
    object-fit: contain;
}
/* /top hero sec */

/* bottom hero sec*/
.bottom_hero_sec{
    padding: 30px 0;
}
.bottom_hero_sec img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin: 10px 0;
}
/* /bottom hero sec*/

/* console sec */
.console_sec{
    padding: 20px 0;
}
/* top part of the console sec */
.top_console_sec{
    padding: 0 0 30px;
    
}
/* /top part of the console sec */

/* bottom part of the console sec */
.medium_console_formatting{
    padding: 20px 0 0;
}
.medium_console_formatting img{
    width: 100%;
    object-fit: contain;
}
/* /bottom part of the console sec */
/* /console sec */


/* hero sec */
/* /main section  */