/* general rules */
*{
    font-family: Arial, sans-serif;
}
.primary_btn_color{
    background-color:#363636;
}
.secondary_btn_color{
    background-color: #cd3d0f;
}
.tertiary_btn_color{
 background-color: #2d64e6;
}
.fourth_background_color{
    background-color: #1f1f1f;
}
.fifth_background_color{
    background-color: #d9dadc;
}
.sixth_background_color{
    background-color: white;
}
.standard_btn{
    padding: 5px 10px;
    font-weight: 500;    
    color: white;
    border: 0;
}
.primary_text_color{
    color: black;
}
.secondary_text_color{
    color: white;
}
.tertiary_text_color{
    color: #396ce5;
}
.fourth_text_color{
    color: #848484;
}
h6{
    font-size: 13px;
    font-weight: 600;
    color: #2284d4;
}
/* /general rules */
/* header section */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
/* header top section */
.header_top{
    background-color: black; 
    height: 40px;   

}
.header_top .container-fluid .row img{
    width: 100px;
    padding: 10px 0;
    object-fit: contain;
}
.primary_btn_formatting{
    margin: 0px 15px;
}
/* /header top section */
/* header bottom section */
nav{
    height: 60px;
}
.nav_formatting{
    padding: 0px 10px;
}
nav form a i{
    font-size: 18px;
}
/* down chevron arrow switch */
nav .dropdown-toggle::after{
    content: url(../img/chevron-down-solid.svg);
    border:none;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
}
/* /down chevron arrow switch */

/* /header bottom section */
/* /header section */

/* main section  */
main{
padding-top: 100px;
}
/* hero sec */
/* top hero sec */
.hero_sec_top{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position:top center;
}
.hero_container{
    padding:300px 0 50px;
}
.hero_container img{
    width: 200px;
    padding: 10px 0;
    object-fit: contain;
}
/* /top hero sec */

/* bottom hero sec*/
.spaced_border{
    padding: 2px;
    border: 3px solid #4095da;
}
.bottom_hero_sec{
    padding: 30px 0;
}
.bottom_hero_sec img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    margin: 10px 0;
}
/* /bottom hero sec*/
/* hero sec */

/* console sec */
.console_sec{
    padding: 20px 0;
}
.console_sec p{
    color: #848484;
}
/* top part of the console sec */
.top_console_sec{
    padding: 0 0 30px;
    
}
/* /top part of the console sec */

/* medium part of the console sec */
.medium_console_formatting{
    padding: 20px 0 0;
}
.medium_console_formatting img{
    width: 100%;
    object-fit: contain;
}
/* /medium part of the console sec */
/* bottom part of the console sec */
.bottom_console_sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0 10px;
}
.bottom_console_sec .container_console{
    width: calc((100% / 5) - 20px);
    margin:0 10px;
}
.special_border_btm{
    border-bottom: 3px solid #4095da;
}
.container_console a{
    text-decoration: none;
}
.bottom_console_sec .container_console img{
    width: 100%;
    padding: 40px 40px 20px;
    object-fit: contain;
}
.bottom_console_sec .container_console h5{
    font-size: 16px;
}
/* /bottom part of the console sec */
/* console media queries */
@media (max-width: 992px) { 
    .bottom_console_sec .container_console img{
        padding: 0;
    }
}
@media (max-width: 768px) { 
    .bottom_console_sec{
        justify-content:flex-start;
        width: 100%;
    }
    .bottom_console_sec .container_console{
        width: calc((100% / 3) - 20px);
        margin-left: 0 10px;
    }
    .bottom_console_sec .container_console img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 0;
    }
    .bottom_console_sec .container_console h5{
        display: none;
    }
    
}
/* /console media queries */

/* /console sec */

/* arrivals section */
.arrivals_top{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position:center ;
}
.arrivals_top .hero_container{
    padding: 30px 0 50px;
}
.arrivals_top .hero_container img {
    width: 50%;
    padding: 10px 0;
    object-fit: contain;
}
/* arrivals bottom */
#bottom_arrivals .container .row h5{
    font-size: 15px;
    font-weight: 700;
}
/* /arrivals bottom */
/* arrivals section */

/* ps4 section */
/* top ps4 sec */
.ps4_sec h2{
    margin-bottom: 20px;
}
.ps4_sec span{
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}
.top_ps4_sec{
    padding: 70px 0 30px;
}
/* /top ps4 sec */
/* bottom ps4 sec */
.ps4_sec p{
    color: #848484;
}
.ps4_sec .container .row img{
    width: 100%;
    object-fit: contain;
}
/* bottom ps4 sec */
.bottom_ps4{
    padding-bottom: 70px;
}
/* /ps4 section */

/* playstation plus section */
.plus_sec{
    background-color: #bebcbb;
}
.plus_sec .hero_container{
    padding: 60px 0 50px;
}
.plus_sec .hero_container img {
    width: 50%;
    padding: 10px 0;
    object-fit: contain;
}
#playstation_plus{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* /playstation plus section */

/* discount section */
.discount_sec{
    padding: 50px 0;
}
/* top discount */
.top_disount{
    padding: 50px 0 40px;
}
/* /top discount */

/* bottom discount */
.bottom_discount img{
    width: 100%;
    padding: 0 0 40px;
    object-fit: contain;
    object-position: center;
}
/* /bottom discount */
/* /discount section */

/* now section */
.now_sec{
    background-color: #161c3b;
}
.now_sec .hero_container{
    padding: 60px 0 50px;
}
.now_sec .hero_container img {
    width: 50%;
    padding: 10px 0;
    object-fit: contain;
}
#playstation_now{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* /now section */

/* social section */
.social_sec{
    padding: 80px 0;
}
.social_sec .container h2{
    margin-bottom: 60px;
}
.social_sec .container_logo img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    padding: 0 10px;
}
/* /social section */

/* /main section  */

/* footer section */
footer{
    background-color: #00439c;
    padding: 60px 0;
}
/* footer top */
.footer_top{
    padding: 60px 0 0;
}
.footer_top img{
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    padding-bottom: 10px;
}
.footer_top span{
    font-weight: 600;
}
.footer_top ul{
    list-style: none;
}
.footer_top ul li{
    padding: 5px 0;
}
.footer_top ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
/* /footer top */
/* footer bottom */
.footer_bottom{
    margin-top: 20px;
}
.footer_bottom img{
    object-fit: contain;
    width: 120px;
    padding-bottom: 10px;
}
.footer_bottom a {
    color: white;
}
/* /footer bottom */
/* /footer section */
